<div class="loginForm">
    <form>
        <div class="flex mb2">
            <label for="login" class="mb1">Login</label>
            <input type="text" id="login" placeholder="login" />
        </div>
        <div class="flex mb2">
            <label for="password" class="mb1">Password</label>
            <input type="password" id="password" placeholder="*********" />
        </div>
        <div>
            <div>
                <label for="admin" class="mb1">Admin ?</label>
                <input type="checkbox" id="isAdmin" />
            </div>
        </div>
        <div>
            <input id="submit" type="submit" value="Login" />
        </div>
    </form>
</div>
