<div class="location-details">
  <div class="details-img">
    <img src="{{ vehicle.urlImg}}" alt="vehicle image">
  </div>
  <div class="details-description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor lectus, pulvinar quis aliquet sed, pharetra
      nec neque. Integer at dolor erat. Donec sed enim nunc. Mauris ac leo eget diam auctor elementum. Maecenas dictum
      lacinia accumsan. Sed condimentum sagittis semper. Suspendisse nec lacinia sem. Integer eros purus, accumsan vitae
      magna sit amet, sodales tincidunt diam.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor lectus, pulvinar quis aliquet sed, pharetra
      nec neque. Integer at dolor erat.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor lectus, pulvinar quis aliquet sed, pharetra
      nec neque. Integer at dolor erat. Donec sed enim nunc. Mauris ac leo eget diam auctor elementum. Maecenas dictum
      lacinia accumsan. Sed condimentum sagittis semper. Suspendisse nec lacinia sem. Integer eros purus, accumsan vitae
      magna sit amet, sodales tincidunt diam.
    </p>
  </div>
  <div class="details-button">
    <a href="#" class="btn btn-selected">Reserver</a>
  </div>
</div>
