<header>
  <div class="top"></div>
  <nav>
    <div class="nav-left">
      <a routerLink="" class="btn btn-selected">
        Home
      </a>
      <a routerLink="locations" class="btn btn-selected">
        Locations
      </a>
      <a routerLink="contact" class="btn btn-selected">
        Contact
      </a>
    </div>
    <div class="nav-right">
      <a routerLink="login" class="btn btn-selected">
        Mon compte
      </a>
    </div>
  </nav>
</header>
<section id="content" class="container">
  <router-outlet></router-outlet>
</section>
