body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Light", serif;
}

header .top {
  display: block;
  background: #9eadba;
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
}

header nav {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  height: 40px;
  border-bottom: solid 1px #9eadba;
}

.nav-right {
  justify-items: center;
}

.nav-left {
  margin-left: 50px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #c7c3fb;
  border: 2px solid #c7c3fb;
  margin: 5px 15px;
  font-size: 1.2em;
  transition: all 0.5s ease-out;
}

.btn-selected {
  border: 2px solid #8c84f7;
  color: #8c84f7;
}

.btn:hover, .btn:focus {
  border-radius: 15px;
  background: #9eadba;
  color: #000000;
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-example {
  width: 100%;
  height: auto;
}

.home-text {
  font-size: 1.1em;
  word-break: break-word;
  margin-right: 5px;
}

.locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.location {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.location img {
  width: 100%;
  height: auto;
}
