<div class="home-content">
  <div class="home-text">
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae magna sed mi rutrum tincidunt dapibus
      luctus erat. Nam tristique quis est at fermentum. Etiam eget leo a lectus dictum tincidunt id rhoncus diam.
      Vivamus lobortis purus quis consequat porttitor. Nam mollis lorem ut tellus molestie cursus. Sed sed lorem sem.
      Integer mollis dictum metus sagittis iaculis.
    </p>
    <p class="">
      Mauris a tempor purus. Phasellus in urna nibh. Cras velit lectus,
      ultrices in varius a, rutrum eu mauris. Suspendisse diam mauris, placerat id tempor at, porta quis lorem.
      Praesent
      commodo viverra facilisis. Aliquam at facilisis neque. Maecenas venenatis facilisis facilisis.
    </p>
  </div>
  <div class="img-example">
    <img src="https://dummyimage.com/500" alt="dummy image">
  </div>
</div>
